In [ ]:
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format

In [ ]:
ufos_path = 'YOUR PATH HERE'

In [ ]:
ufo_sightings = pd.read_csv(ufos_path)
ufo_sightings.head()

<ipython-input-3-87ccc3a49ac9>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.6
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.9
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8

In [ ]:
ufo_sightings.fillna('?',inplace=True)
ufo_sightings.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9
1,10/10/1949 21:00,lackland afb,tx,?,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.6
2,10/10/1955 17:00,chester (uk/england),?,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.9
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8

In [ ]:
ufo_sightings = pd.read_csv(ufos_path)

<ipython-input-5-195439c6c744>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

In [ ]:
ufo_sightings['shape'].value_counts(dropna=False)

shape
light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
NaN           1932
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
flare            1
hexagon          1
dome             1
changed          1
Name: count, dtype: int64

In [ ]:
ufo_sightings['shape'].fillna('unknown', inplace=True)
ufo_sightings['shape'].value_counts(dropna=False)

shape
light        16565
triangle      7865
circle        7608
unknown       7516
fireball      6208
other         5649
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
flare            1
hexagon          1
dome             1
changed          1
Name: count, dtype: int64

In [ ]:
null_comments = ufo_sightings['comments'].isna()
ufo_sightings[null_comments]

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
2940,10/19/2004 20:00,grand island,ne,us,light,3600,over 1 hr.,NaN,11/2/2004,40.9250000,-98.3
14317,1/14/1996 17:00,chesterfield,va,us,unknown,3600,1 hour,NaN,11/3/2005,37.3769444,-77.5
21844,1/23/1996 20:15,minot,nd,us,unknown,900,15 min.,NaN,2/18/2011,48.2325000,-101.3
24999,1/7/1996 11:30,st. george,ut,us,unknown,2,2 sec.,NaN,11/3/2005,37.1041667,-113.6
28764,2/27/1996 22:01,saginaw,mi,us,unknown,1440,24 min.,NaN,3/2/2004,43.4194444,-84.0
32337,3/19/2004 12:10,atlanta,ga,us,circle,600,5-10 min.,NaN,6/18/2004,33.7488889,-84.4
36089,4/1/2001 19:00,bangalore (india),NaN,NaN,unknown,10,5-10 seconds,NaN,5/14/2002,12.971599,77.6
41782,5/1/2013 22:00,toledo,oh,us,oval,120,2:00,NaN,1/24/2014,41.6638889,-83.6
46558,6/10/2002 03:30,chantilly,va,us,unknown,180,two hours,NaN,8/16/2002,38.8941667,-77.4
48599,6/15/1957 02:30,atlantic ocean (bermuda),NaN,NaN,unknown,120,minutes,NaN,3/19/2002,-14.599413,-28.7
49641,6/16/2013 12:00,fairfield,ct,us,oval,60,1 minute,NaN,7/3/2013,41.1411111,-73.3
52617,6/30/1956 18:30,houston,tx,us,triangle,900,10-15 minutes,NaN,2/21/2014,29.7630556,-95.4
59936,7/26/2006 22:00,seattle,wa,us,light,300,4-5 minutes,NaN,10/30/2006,47.6063889,-122.3
62981,7/5/2011 17:15,san jacinto,ca,us,sphere,540,9 minutes,NaN,8/21/2011,33.7838889,-117.0
63698,7/8/1984 23:00,irvington,ky,us,cylinder,120,several minutes,NaN,3/8/2007,37.8802778,-86.3

In [ ]:
ufo_sightings['comments'].fillna(ufo_sightings['shape'], inplace=True)

In [ ]:
ufo_sightings[null_comments]

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
2940,10/19/2004 20:00,grand island,ne,us,light,3600,over 1 hr.,light,11/2/2004,40.9250000,-98.3
14317,1/14/1996 17:00,chesterfield,va,us,unknown,3600,1 hour,unknown,11/3/2005,37.3769444,-77.5
21844,1/23/1996 20:15,minot,nd,us,unknown,900,15 min.,unknown,2/18/2011,48.2325000,-101.3
24999,1/7/1996 11:30,st. george,ut,us,unknown,2,2 sec.,unknown,11/3/2005,37.1041667,-113.6
28764,2/27/1996 22:01,saginaw,mi,us,unknown,1440,24 min.,unknown,3/2/2004,43.4194444,-84.0
32337,3/19/2004 12:10,atlanta,ga,us,circle,600,5-10 min.,circle,6/18/2004,33.7488889,-84.4
36089,4/1/2001 19:00,bangalore (india),NaN,NaN,unknown,10,5-10 seconds,unknown,5/14/2002,12.971599,77.6
41782,5/1/2013 22:00,toledo,oh,us,oval,120,2:00,oval,1/24/2014,41.6638889,-83.6
46558,6/10/2002 03:30,chantilly,va,us,unknown,180,two hours,unknown,8/16/2002,38.8941667,-77.4
48599,6/15/1957 02:30,atlantic ocean (bermuda),NaN,NaN,unknown,120,minutes,unknown,3/19/2002,-14.599413,-28.7
49641,6/16/2013 12:00,fairfield,ct,us,oval,60,1 minute,oval,7/3/2013,41.1411111,-73.3
52617,6/30/1956 18:30,houston,tx,us,triangle,900,10-15 minutes,triangle,2/21/2014,29.7630556,-95.4
59936,7/26/2006 22:00,seattle,wa,us,light,300,4-5 minutes,light,10/30/2006,47.6063889,-122.3
62981,7/5/2011 17:15,san jacinto,ca,us,sphere,540,9 minutes,sphere,8/21/2011,33.7838889,-117.0
63698,7/8/1984 23:00,irvington,ky,us,cylinder,120,several minutes,cylinder,3/8/2007,37.8802778,-86.3