## Setup

In [ ]:
import pandas as pd

In [ ]:
ufos_path = 'YOUR PATH HERE'

In [ ]:
sightings = pd.read_csv(ufos_path)
sightings.head()

<ipython-input-3-e5c2fbc31669>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

## Break out the average sighting latitude by quarter. Which quarters had the highest and lowest average sighting latitudes? Can you come up with a hypothesis to (potentially) explain these results?

In [ ]:
sightings['datetime'] = pd.to_datetime(sightings['datetime'], errors='coerce')
sightings['latitude'] = pd.to_numeric(sightings['latitude'], errors='coerce')

In [ ]:
sightings['quarter'] = sightings['datetime'].dt.quarter

In [ ]:
sightings.groupby('quarter')['latitude'].mean()

quarter
1.0    37.224217
2.0    37.683514
3.0    39.309664
4.0    37.724683
Name: latitude, dtype: float64

**The first quarter (Januray through March) had the lowest average sighting latitude, while the third quarter (July through September) had the highest.**

**In the northern hemisphere, where the vast majority of sightings occurred, weather tends to be especially cold - and days especially short - at higher latitudes, while the opposite is true in the third quarter. One possible hypothesis which could explain the results, is that more people in the northen hemisphere, *across more different latitudes*, simply tend to be outside more (making UFO sightings possible) in the third quarter versus the first.**

## Summarize the count of sightings by day of month. Which two days of the month had most total sightings? Can you come up with a plausible hypothesis to explain *these* results?

In [ ]:
sightings['day of month'] = sightings['datetime'].dt.day
sightings['day of month'].value_counts()

day of month
15.0    5867
1.0     5508
4.0     3100
20.0    3022
10.0    2882
12.0    2560
30.0    2537
5.0     2474
13.0    2473
14.0    2440
25.0    2409
16.0    2408
7.0     2381
19.0    2350
3.0     2344
6.0     2309
22.0    2304
11.0    2293
18.0    2286
8.0     2283
24.0    2279
23.0    2271
28.0    2266
17.0    2266
21.0    2221
2.0     2177
9.0     2168
26.0    2028
27.0    2025
29.0    1980
31.0    1727
Name: count, dtype: int64

**It seems noteworthy that the 1st and the 15th days of the month have historically had more sightings by a considerable margin than the other days of the month.**

**Equally worth noting is that companies that pay their employees bi-monthly, often do so on the 1st and the 15th of the month. It's not inconceivable that people who have just gotten paid are more likely to go out at night (and potentially party, drink, etc.), making UFO sightings more plausible across a wider portion of the day.**

## What percentage of overall sightings occur between 7pm and 7am?

In [ ]:
sighting_hour = sightings['datetime'].dt.hour
sightings_1900_to_700 = sightings[(sighting_hour >= 19) | (sighting_hour < 7)]
len(sightings_1900_to_700) / len(sightings)

0.759622566349649

**Around 76% of sightings occurred between 7m and 7am.**