## Setup

In [ ]:
import pandas as pd

In [ ]:
ufos_path = 'YOUR PATH HERE'

In [ ]:
ufo_sightings = pd.read_csv(ufos_path)
ufo_sightings.head()

<ipython-input-3-87ccc3a49ac9>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

## Define the following Series, and assign them to their own respective variables:

* A Series consisting of the "datetime" column converted to a datetime data type

* A Series consisting of the "duration (seconds)" column converted to a numeric data type

* A Series - with a numeric data type - consisting of the "duration (seconds)" column converted to minutes

* A Series consisting of the "date posted" column converted to a datetime data type

* A Series consisting of the "latitude" column converted to a numeric data type

In [ ]:
datetime=pd.to_datetime(ufo_sightings['datetime'],errors='coerce')
duration_seconds=pd.to_numeric(ufo_sightings['duration (seconds)'],errors='coerce')
duration_minutes=duration_seconds / 60
date_posted=pd.to_datetime(ufo_sightings['date posted'],errors='coerce')
latitude = pd.to_numeric(ufo_sightings['latitude'],errors='coerce')

## Add all of the above Series to a new copy of the original DataFrame - in a single line of code - using the `assign` method. Overwrite the original versions of the columns where possible/appropriate

In [ ]:
new_df = ufo_sightings.assign(datetime=datetime,duration_seconds=duration_seconds,duration_minutes=duration_minutes, date_posted=date_posted, latitude=latitude)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              79638 non-null  datetime64[ns]
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80331 non-null  float64
 10  longitude             80332 non-null  float64
 11  duration_seconds      80329 non-null  float64
 12  duration_minutes      80329 non-null  float64
 13  date_posted           80332 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(8)
memory usage: 8.6+ MB

## Use the `drop` method to remove the original versions of the converted DataFrame columns that you were unable to overwrite with `assign`.

In [ ]:
new_df.drop(labels=['duration (seconds)', 'date posted'], axis=1, inplace=True)
new_df.head()

,datetime,city,state,country,shape,duration (hours/min),comments,latitude,longitude,duration_seconds,duration_minutes,date_posted
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111,2700.0,45.000000,2004-04-27
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082,7200.0,120.000000,2005-12-16
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667,20.0,0.333333,2008-01-21
3,1956-10-10 21:00:00,edna,tx,us,circle,1/2 hour,My older brother and twin sister were leaving ...,28.978333,-96.645833,20.0,0.333333,2004-01-17
4,1960-10-10 20:00:00,kaneohe,hi,us,light,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611,900.0,15.000000,2004-01-22